@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Person
@{
    ViewData["Title"] = "Display Person";
}
<h2> Person Details</h2>
<li>@Model.ID</li>
<li>@Model.Name</li>
