@model IEnumerable<Partial_Views_Prj.Models.Product>
@{
    ViewBag.Title = "AnotherMethod";
}

<h2>Another Method </h2>
<h2>Displays the Partial View of Products</h2>
<p>This is an example to render partial views</p>

@{Html.RenderAction("ProductDetails", "Product");
}

