
@{
    ViewBag.Title = "Index";
}

<h2>Data Controllers Index View Method</h2>

<h2>@ViewBag.data1</h2>
<h3>@ViewData["data2"]</h3>

@* We will use razor syntax to display the elements in the collection objec
       passed by the controllers action method to this view

    @foreach(var item in Model)
               {
                   <p>@item</p>
               }
*@