@model IEnumerable<MVC_EFPrj.Models.CustOrdersOrders_Result>
@{
    ViewBag.Title = "SPWithParameter";
}

<h2>SPWithParameter</h2>

@foreach(var item in Model)
            {
                <li>@item.OrderDate</li>
                <li>@item.OrderID</li>
            }