@model MVC_Day2.Models.Employee
@{
    ViewBag.Title = "DisplayEmployee";
}

<h2>Display Employee Details</h2>
<ol type="I">
    <li>@Model.EID</li>
    <li>@Model.Ename</li>
    <li>@Model.Salary</li>
</ol>

